<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEIC</title>
</head>
<body>
    <h1>MEIC - Micro Empreendedor Independente de Caucaia</h1>
    <ul><a href = "/Atendimento">Atendimento</a>
        <a href = "/MeusPedidos">Meus Pedidos</a>
        <a href = "/NossasLojas">Nossas Lojas</a>
    </ul>

    <ul>
        <li><a href = "/CadastroCliente"> Não possui uma conta? Clique aqui para Cadastrar-se</a></li>
        <li><a href = "/LoginCliente"> Já possui uma conta? Clique aqui para efetuar o Login</a></li>
    </ul>

    <h2>Categorias</h2>
    <ul>
        <li><a href = "/Artesanato"> Artesanato</a></li>
        <li><a href = "/MaquiagemPerfumaria">Maquiagem e Perfumaria</a></li>
        <li><a href = "/CuidadosPessoais">Cuidados Pessoais</a></li>
        <li><a href = "/Decoração">Decoração</a></li>
        <li><a href = "/Jardinagem">Jardinagem</a></li>
        <li><a href = "/Moda">Moda</a></li>
        <li><a href = "/Serviços">Serviços</a></li>
    </ul>

    <ul>
        <a href = "/MeusCupons">Meus Cupons</a>
        <a href = "/EmpreendedoresCaucaia">Empreendedores de Caucaia</a>
        <a href = "/PaguePixCartao">Pague com Pix ou Cartão</a>
    </ul>
    <a href="http://google.com" target = "_blank">Google</a>
</body>

</html>