<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cliente Login</title>
</head>

<body>
    <h1>Login</h1>
    <script>
        function doSomething() {
            alert('Login efetuado!');
            return true;
        }

    </script>
    <form onsubmit="return doSomething()" method="post">
        <div>
            <label> E-mail de Usuário: </label>
            <input type="text" name="emailLogin" placeholder="Digite aqui seu e-mail cadastrado"
                value="{{request.form['emailLogin']}}">
        </div>

        <div>
            <label> Senha: </label>
            <input type="text" name="senhaLogin" placeholder="Digite aqui sua senha cadastrada"
                value="{{request.form['senhaLogin']}}">
        </div>

        <div>
            <button type="submit">Efetuar Login</button>
        </div>

    </form>
</body>

</html>